@charset "utf-8";

// Redefine black as black black :)
$black: hsl(0, 0%, 0%) !default;

@import "~bulma/sass/utilities/initial-variables.sass";

$primary: rgba(255, 209, 0, 1);
$body-background-color: $black;
$link: $yellow;
$text: $white-bis;
$text-strong: $white-ter;
$border: $primary;


$table-background-color: $black;
$table-row-hover-background-color: $black-bis;
$table-striped-row-even-hover-background-color: $black-ter;
$table-striped-row-even-background-color: $black-bis;
$table-cell-border-width: 0 0 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/layout/section.sass";