@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bulma/sass/utilities/initial-variables.sass";

$body-background-color: $black;

$primary: rgba(255, 209, 0, 1);
$link: $primary;
$text: $white-bis;
$text-strong: $white-bis;
$border: $primary;


$table-background-color: $black;
$table-row-hover-background-color: $black-bis;
$table-striped-row-even-hover-background-color: $black-ter;
$table-striped-row-even-background-color: $black-bis;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/layout/section.sass";